.cpg-image-container {
    transition: all 0.5s ease-out;
    width: 800px;
    height: 450px;
    position: relative;
    margin: auto;
}

.cpg-image-text {
    font-family: 'Roboto Slab', serif;
    position: absolute;
    left: 3rem;
    color: black;
    font-size: 2.1rem;
    color: white;
    background: black;
    padding-left: 2px;
    padding-right: 2px;
}

#imageTitle {
    font-family: 'Open Sans', sans-serif;
    background: transparent;
    font-size: 3.6rem;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) 0px 3px 25px, rgba(0, 0, 0, 0.5) 0px -3px 25px;
    font-weight: 200;
    width: 550px;
    line-height: 0.8;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
}

div#imageDate {
    top: 3rem;
}

div#imageTime {
    top: 6.4rem;
}

div#imageLoc {
    bottom: 3.7rem;
    font-size: 1.5rem;
}

.cpg-loc-icon {
    margin: 0px 2px 0px 4px
}

#imageDownloader {
    transition: all 1s ease-out;
    padding: 3rem;
}

.iro__colorPicker {
    margin: auto;
}

#downloadImage {
    transition: all .2s ease;
    background: rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 20px;
    width: 800px;
    height: 450px;
    align-content: center;
    text-align: center;
    line-height: 420px;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1);
}

.cpg-image-container-border:hover #downloadImage, .cpg-image-container:hover #downloadImage {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    visibility: visible;
    opacity: 1;
}

.cpg-download-text {
    margin: auto;
}

.cpg-image-container-border {
    padding: 20px;
    border: solid 1px;
    border-color: rgba(0, 0, 0, 0.3);
    width: 800px;
    margin: auto;
    position: relative;
}

.cpg-image-container-border:hover {
    border-color: #1e87f0;
    cursor: pointer;
}